[Unit]
Description=DataStation
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=datastation
ExecStartPre=
ExecStart=node /usr/share/datastation/server.js
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target