[Unit]
Description=Run DataStation exporter daily

[Timer]
OnCalendar=daily
Persistent=true
ExecStart=node /usr/share/datastation/exporter.js

[Install]
WantedBy=timers.target