body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: #fbfbfb;
  height: 100%;
}

.app--desktop {
  border-top: 1px solid #ccc;
  overflow-y: hidden;
}

.app--desktop main {
  display: flex;
  height: 100%;
}

header + main {
  padding-top: 60px;
}

header {
  box-shadow: 0 1px 3px 0 #aaa;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

header a {
  text-decoration: none;
}

header .button,
header a {
  margin-left: 15px;
  display: inline-block;
}

[contenteditable='true'] {
  border-bottom: 1px dashed #4eb5ff;
}

[contenteditable='true']:focus {
  outline: none;
  border-bottom-style: solid;
  font-style: italic;
}

.editor-container {
  height: 200px;
  resize: vertical;
  overflow: auto;
  flex: 1;
}

.editor {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: monospace;
  font-size: 1.1rem;
  counter-reset: line;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #ccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.editor textarea:focus {
  outline: none;
}

input.input,
label.input input,
select.select,
label.select select {
  padding: 5px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #aaa;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.block {
  display: block;
}

.button {
  outline: 0;
  border: 1px solid #ccc;
  background: #fbfbfb;
  padding: 5px;
  cursor: pointer;
  cursor: hand;
  border-radius: 3px;
}

.button:not(.material-icons):not(.button--primary) {
  box-shadow: 0px 1px 0px 0px #ccc;
}

.button:hover {
  background: #f0f0f0;
}

.button--primary {
  border-color: #3a005f;
  background: #9f04ff;
  color: white;
}

.button--primary:not(.material-icons) {
  box-shadow: 0px 1px 0px 0px #3a005f;
}

.button--primary:hover {
  background: #56008c;
}

.button.material-icons {
  border: 0;
  background: transparent;
  color: #333;
  font-size: 20px;
  padding: 0;
}

.button:not(.material-icons):disabled,
.button:not(.material-icons):disabled:hover {
  background: #ccc;
  color: #777;
  cursor: not-allowed;
  pointer-events: all !important;
}

.button.button--primary.material-icons {
  color: #9f04ff;
}

.button.material-icons:disabled,
.button.material-icons:disabled:hover {
  cursor: not-allowed;
  pointer-events: all !important;
  color: #ccc;
}

.flex-right {
  margin-left: auto;
}

.section,
header > div {
  padding: 15px;
}

.title {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #777;
  padding-bottom: 15px;
  white-space: nowrap;
}

.pages--empty {
  display: block;
  text-align: center;
  margin: 100px auto;
}

.pages--empty .button--primary {
  margin-right: 10px;
  display: inline-block;
}

.pages .section-title {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.sidebar {
  border-right: 1px solid #ccc;
  background: white;
  flex: 0 0 275px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar--collapsed {
  flex: auto;
}

.connectors {
  flex: 1;
}

.server,
.connector {
  margin-bottom: 15px;
}

.server-name,
.connector-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.main-body {
  width: 100%;
  overflow-y: auto;
}

.pages .section-title {
  display: flex;
  align-items: flex-end;
}

.pages .page-name--current {
  margin-right: 5px;
  font-size: 1.1rem;
}

.pages .page-name.button {
  margin: 0 5px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.page-delete {
  margin-right: 15px;
  display: inline-block;
}

.panel {
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.panel:focus-within,
.panel:focus {
  border-color: #9f04ff;
}

.panel--loading {
  animation: pulse 2s infinite ease-out;
}

@keyframes pulse {
  0% {
    background: white;
  }

  50% {
    background: #fcf6ff;
  }
}

.panel--hidden {
  border-color: #ccc;
}

.panel--hidden .panel-head,
.panel--empty .panel-head {
  border-bottom: 0;
}

.panel-type,
.connector-type {
  color: #777;
  padding-right: 15px;
}

.panel-head {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.panel-controls .button {
  margin-left: 15px;
}

.panel-details {
  margin-top: 15px;
}

.panel-details label.select select,
.panel-details select.select,
.panel-details label.input input,
.panel-details input.input {
  max-width: 100%;
}

.panel-body-container {
  overflow: auto;
  resize: vertical;
}

.panel-body {
  padding: 15px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel-order {
  width: 30px;
  margin-right: 15px;
  margin-left: 5px;
}

.panel-out {
  background: #333;
  padding: 5px;
  color: white;
  width: 400px;
  max-width: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.panel--empty .panel-out {
  width: 100%;
  max-width: 100%;
}

.panel-out-header {
  border-bottom: 1px solid white;
}

.panel-out-header .button {
  border: 0;
  background: 0;
  color: white;
  padding: 5px 15px;
  box-shadow: 0 0 0 0 !important;
}

.panel-out-header .button.selected {
  border: 1px solid white;
  border-bottom: 0;
}

.panel-preview {
  overflow: auto;
  height: 100%;
}

.panel-out .button:disabled {
  background: transparent;
  color: white;
}

.panel--empty .panel-body {
  display: none;
}

.new-panel {
  text-align: center;
  margin-bottom: 15px;
}

.last-run {
  font-size: 0.9rem;
  color: #777;
}

.alert {
  margin-top: 15px;
  padding: 15px 5px;
}

.alert-error {
  background: #ffe7e7;
  border: 1px solid #ffc0c0;
}

.alert-info {
  background: #e7f7ff;
  border: 1px solid #c0f0ff;
}

.share {
  position: relative;
}

.share-details {
  display: none;
  position: absolute;
  top: 30px;
  right: 1px;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 400px;
  color: black;
}

.share-details a {
  color: blue;
  margin: 0;
}

.share:focus-within .share-details {
  display: block;
}

.share-details input {
  border: 1px solid;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #777;
}

.form-row {
  padding: 5px 0;
}

.form-row label {
  padding-right: 5px;
  color: #777;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.version {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 30px;
}

canvas {
  background: white;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal-body {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
}

.project-name {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px auto;
  width: 500px;
}

.project-name .input,
.project-name .input input,
.project-name .button {
  width: 100%;
  padding: 15px;
}

.project-existing {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background: #f9f0ff;
}
