body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: #fbfbfb;
}

main {
  display: flex;
  padding-top: 60px;
}

header {
  box-shadow: 0 1px 3px 0 #aaa;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

header a {
  text-decoration: none;
}

header .button,
header a {
  margin-left: 15px;
  display: inline-block;
}

[contenteditable='true'] {
  border-bottom: 1px dashed #4eb5ff;
}

[contenteditable='true']:focus {
  outline: none;
  border-bottom-style: solid;
  font-style: italic;
}

.editor-container {
  height: 200px;
  resize: vertical;
  overflow: auto;
  flex: 1;
}

.editor {
  width: 100%;
  height: 100%;
  border: 0;
  font-family: monospace;
  font-size: 1.1rem;
  counter-reset: line;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #ccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}

.editor textarea:focus {
  outline: none;
}

input.input,
label.input input,
select.select,
label.select select {
  padding: 5px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #aaa;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.block {
  display: block;
}

.button {
  outline: 0;
  border: 1px solid #ccc;
  background: #fbfbfb;
  padding: 5px;
  cursor: pointer;
  cursor: hand;
  border-radius: 3px;
}

.button:not(.material-icons):not(.button--primary) {
  box-shadow: 0px 1px 0px 0px #ccc;
}

.button:hover {
  background: #f0f0f0;
}

.button--primary {
  border-color: #3a005f;
  background: #9f04ff;
  color: white;
}

.button--primary:not(.material-icons) {
  box-shadow: 0px 1px 0px 0px #3a005f;
}

.button--primary:hover {
  background: #56008c;
}

.button.material-icons {
  border: 0;
  background: transparent;
  color: #333;
  font-size: 20px;
  padding: 0;
}

.button.button--primary.material-icons {
  color: #9f04ff;
}

.button.material-icons:disabled,
.button.material-icons:disabled:hover {
  color: #ccc;
}

.flex-right {
  margin-left: auto;
}

.section,
header > div {
  padding: 15px;
}

.title {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #777;
  padding-bottom: 15px;
  white-space: nowrap;
}

.pages--empty {
  display: block;
  text-align: center;
  margin: 100px auto;
}

.pages--empty .button--primary {
  margin-right: 10px;
  display: inline-block;
}

.pages .section-title {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

.connectors {
  border-right: 1px solid #ccc;
}

.connector {
  margin-bottom: 15px;
}

.pages {
  flex: 1;
}

.pages .section-title {
  display: flex;
  align-items: flex-end;
}

.pages .page-name--current {
  margin-right: 5px;
  font-size: 1.1rem;
}

.pages .page-name.button {
  margin: 0 5px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.page-delete {
  margin-right: 15px;
  display: inline-block;
}

.panel {
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.panel:focus-within,
.panel:focus {
  border-color: #9f04ff;
}

.panel--hidden {
  border-color: #ccc;
}

.panel--hidden .panel-head,
.panel--empty .panel-head {
  border-bottom: 0;
}

.panel-type,
.connector-type {
  color: #777;
  padding-right: 15px;
}

.panel-head {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.panel-controls .button {
  margin-left: 15px;
}

.panel-details {
  margin-top: 15px;
}

.panel-body-container {
  overflow: auto;
  resize: vertical;
}

.panel-body {
  padding: 15px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panel-order {
  width: 30px;
  margin-right: 15px;
  margin-left: 5px;
}

.panel-preview {
  background: #333;
  padding: 5px;
  color: white;
  width: 400px;
  max-width: 50%;
  overflow: auto;
}

.panel--empty .panel-preview {
  width: 100%;
  max-width: 100%;
}

.panel--empty .panel-body {
  display: none;
}

.new-panel {
  text-align: center;
  margin-bottom: 15px;
}

.last-run {
  font-size: 0.9rem;
  color: #777;
}

.alert {
  margin-top: 15px;
  padding: 15px 5px;
}

.alert-info {
  background: #ffe7e7;
  border: 1px solid #ffc0c0;
}

.share {
  position: relative;
}

.share-details {
  display: none;
  position: absolute;
  top: 30px;
  right: 1px;
  background: white;
  z-index: 1;
  border: 1px solid #ccc;
  padding: 15px;
  width: 400px;
  color: black;
}

.share-details a {
  color: blue;
  margin: 0;
}

.share:focus-within .share-details {
  display: block;
}

.share-details input {
  border: 1px solid;
  width: 100%;
}

.text-center {
  text-align: center;
}

.form-row {
  padding: 5px 0;
}

.form-row label {
  padding-right: 5px;
  color: #777;
  font-size: 0.75rem;
  text-transform: uppercase;
}
