name: Build and push Docker images

on:
  release:
    types: [published]
  push:
    branches:
      - main

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}

    - run: ./scripts/ci/prepare_linux.sh
    - run: echo "GIT_TAG=`git tag --points-at HEAD`" >> $GITHUB_ENV

    # Override GIT_TAG if it's just a commit to main, not a release
    - if: github.ref == 'refs/heads/main'
      run: echo "GIT_TAG=latest" >> $GITHUB_ENV

    - run: yarn docker-build-server
    - run: docker build -t ghcr.io/multiprocessio/datastation:$GIT_TAG .
    - run: echo $GCR_TOKEN | docker login ghcr.io -u eatonphil --password-stdin
    - run: docker push ghcr.io/multiprocessio/datastation:$GIT_TAG
