name: Run tests

on:
  pull_request:
    branches: [master]

jobs:  
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}
    - run: ./scripts/ci/prepare_linux.sh
    - run: yarn format
    - run: yarn tsc
    - run: ./scripts/fail_on_diff.sh
    - run: yarn test-licenses
    # Needed so we can have ./build/desktop_runner.js ready for tests
    - run: yarn build-desktop
    - run: "yarn test --verbose --forceExit"
    - uses: artiomtr/jest-coverage-report-action@v2.0-rc.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        threshold: 63

  e2e-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}

    - run: ./scripts/ci/prepare_linux.sh
    - run: yarn release-desktop 0.0.0-e2etest
      # Set up a virtual framebuffer so Chrome will start
      # https://www.electronjs.org/docs/tutorial/testing-on-headless-ci
      # https://github.com/juliangruber/browser-run/issues/147
    - run: xvfb-run --auto-servernum yarn e2e-test

  e2e-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}
    - run: ./scripts/ci/prepare_macos.sh
    # Needed so we can have ./build/desktop_runner.js ready for tests
    - run: yarn build-desktop
    - run: "yarn test --verbose --forceExit"
    - run: yarn release-desktop 0.0.0-e2etest
    - run: yarn e2e-test

  e2e-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master
      with:
        ref: ${{ github.ref }}

    - run: ./scripts/ci/prepare_windows.ps1
      shell: pwsh
    # Needed so we can have ./build/desktop_runner.js ready for tests
    - run: yarn build-desktop
    - run: "yarn test --verbose --forceExit"
    - run: yarn release-desktop 0.0.0-e2etest
    - run: yarn e2e-test
